.welcome{
    color: red;
    padding-top: 10px;
    padding-right: 450px;
    text-align: center;
    font-weight: 800;
}

.greetings{
    text-align: center;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: darkgrey;
}

.gif{
    padding-top: 20px;
    padding-bottom: 20px;
}

.search{
    text-align: center;
    padding: 20px;
}

.title{
    font-family: monospace;
    text-align: center;
}

.logs-bt{
    color: red;
    text-align: center;
    padding: 15px;
    max-width: 400px;
    background-color: black;
    border-radius: 20px;
}

.card-design{
    color: red;
    text-align: center;
    padding: 15px;
    max-width: 400px;
    background-color: black;
    border: 5px solid red;
    border-radius: 20px;
}

.card-design2{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
}

.poke-card{
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}