{% extends 'base.html' %}

{% block content %}

<form method="POST" class="card-design card mx-auto">
    {{ form.hidden_tag() }}

    <h2 class="logs-bt">Sign up</h2>
    <p>{{ form.username(class='form-control', placeholder='Username')}}</p>
    <p>{{ form.email(class='form-control', placeholder='Email')}}</p>
    <p>{{ form.password(class='form-control', placeholder='Password') }}</p>
    <p>{{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}</p>
    <p>{{ form.submit(class='btn btn-danger') }}</p>
</form>

{% endblock %}